language: generic

env:
    global:
        - DSS_CAPI_VERSION=0.10.6
        - DSS_MATLAB_VERSION=0.10.6

matrix:
  include:
    - name: "linux_x64"
      os: linux
      before_install:
        - sudo apt-get install patchelf
      script: 
        - wget "https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_VERSION}/dss_capi_${DSS_CAPI_VERSION}_${TRAVIS_JOB_NAME}.tar.gz" -Odss_capi.tar.gz -q
        - tar zxf dss_capi.tar.gz
        - mkdir -p release/dss_matlab
        - cp -R "+DSS_MATLAB" "release/dss_matlab/+DSS_MATLAB"
        - mv dss_capi/lib/${TRAVIS_JOB_NAME}/libdss_capi_v7.so "release/dss_matlab/+DSS_MATLAB/dss_capi_v7.so"
        - mv dss_capi/lib/${TRAVIS_JOB_NAME}/libdss_capi_v7d.so "release/dss_matlab/+DSS_MATLAB/dss_capi_v7d.so"
        - mv dss_capi/lib/${TRAVIS_JOB_NAME}/libklusolve.so "release/dss_matlab/+DSS_MATLAB/"
        - mv dss_capi/KLUSOLVE_LICENSE "release/dss_matlab/"
        - mv dss_capi/OPENDSS_LICENSE "release/dss_matlab/"
        - mv dss_capi/LICENSE "release/dss_matlab/DSS_C-API_LICENSE"
        - mv LICENSE release/dss_matlab/
        - mv README.md release/dss_matlab/
        - mv examples release/dss_matlab/
        - cd "release/dss_matlab/+DSS_MATLAB"
        - patchelf --set-rpath '$ORIGIN/.' dss_capi_v7.so
        - patchelf --set-rpath '$ORIGIN/.' dss_capi_v7d.so
        - cd ../..
        - tar zcf dss_matlab_v${DSS_MATLAB_VERSION}_${TRAVIS_JOB_NAME}.tar.gz dss_matlab
        - rm -rf dss_matlab
        - ls -l
        - cd ..

    - name: "win_x64"
      os: linux
      script: 
        - wget "https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_VERSION}/dss_capi_${DSS_CAPI_VERSION}_${TRAVIS_JOB_NAME}.zip" -Odss_capi.zip -q
        - unzip dss_capi.zip
        - rm -f dss_capi/lib/${TRAVIS_JOB_NAME}/*_v8.dll
        - mkdir -p release/dss_matlab
        - cp -R "+DSS_MATLAB" "release/dss_matlab/+DSS_MATLAB"
        - mv dss_capi/lib/${TRAVIS_JOB_NAME}/*.dll "release/dss_matlab/+DSS_MATLAB/"
        - mv dss_capi/KLUSOLVE_LICENSE "release/dss_matlab/"
        - mv dss_capi/OPENDSS_LICENSE "release/dss_matlab/"
        - mv dss_capi/LICENSE "release/dss_matlab/DSS_C-API_LICENSE"
        - mv LICENSE release/dss_matlab/
        - mv README.md release/dss_matlab/
        - mv examples release/dss_matlab/
        - cd release
        - zip -r dss_matlab_v${DSS_MATLAB_VERSION}_${TRAVIS_JOB_NAME}.zip dss_matlab
        - rm -rf dss_matlab
        - ls -l
        - cd ..

    - name: "darwin_x64"
      os: osx
      script: 
        - wget "https://github.com/dss-extensions/dss_capi/releases/download/${DSS_CAPI_VERSION}/dss_capi_${DSS_CAPI_VERSION}_${TRAVIS_JOB_NAME}.tar.gz" -Odss_capi.tar.gz -q
        - tar zxf dss_capi.tar.gz
        - mkdir -p release/dss_matlab
        - cp -R "+DSS_MATLAB" "release/dss_matlab/+DSS_MATLAB"
        - mv dss_capi/lib/${TRAVIS_JOB_NAME}/libdss_capi_v7.dylib "release/dss_matlab/+DSS_MATLAB/dss_capi_v7.dylib"
        - mv dss_capi/lib/${TRAVIS_JOB_NAME}/libdss_capi_v7d.dylib "release/dss_matlab/+DSS_MATLAB/dss_capi_v7d.dylib"
        - mv dss_capi/lib/${TRAVIS_JOB_NAME}/libklusolve.dylib "release/dss_matlab/+DSS_MATLAB/"
        - mv dss_capi/KLUSOLVE_LICENSE "release/dss_matlab/"
        - mv dss_capi/OPENDSS_LICENSE "release/dss_matlab/"
        - mv dss_capi/LICENSE "release/dss_matlab/DSS_C-API_LICENSE"
        - mv LICENSE release/dss_matlab/
        - mv README.md release/dss_matlab/
        - mv examples release/dss_matlab/
        - cd release
        - tar zcf dss_matlab_v${DSS_MATLAB_VERSION}_macos_x64.tar.gz dss_matlab
        - rm -rf dss_matlab
        - ls -l
        - cd ..

deploy:
    provider: releases
    api_key:
        secure: H/pX2HiiPlvyUjfuoldgC+mlD3+vB1yxYSBKURyIxr7h50KzAW/ASJjGZbQ8Q4VxQjs7ypXtx/hQjDepgH3xGvA+4XEIRWIc4E/QvKt3lDCIMQ1pmWEJSpKh8JgyAThemNxieTzp7HJb2jrRjLhRkl3EjQEbrYY1x+5j0O/x2hgiGwsDTsiImgA6gjRuN9+Hha1Oc4+HdJ0AtlZVCexnaaJSzIWirJ93y3d6xwtjF7yooDCAP69XmGSUkQjUMnCkDJii7KWD+RJ1XYngsXh73jhz3VA205JQykoi0pIgcQqRxvqYSXHF+ji1EDpfYHrU3Q9MWnyB99dGwgiNkVZ8F3VXAna6ihUE4Zpa25IaLrUeeW9KL317qOn8Y35eD1cUv/zujFA+NxrLCt2QBWfDURlSCpHpQLh/qzuBAQ9HB+kjMm9NFE1jdMa+WIgHtZyBnpTO3qdYK2qWtddYkop9fQOl/cMVKGkHdCc48R4gHRMfIU+93vMMXdaruigfhPuJliJIQB6Bi5lNWMaaNO5WdZ/LKHvZUScV+UMkZDEFsrCQ5bABtqfwNH9Om59RAJxbzvTmUYDqMGaHx3atNGcYAqZHZIA4Xy3DEt+/BVo7TqNtGU3RRaZDMA2Lw3eTnC+HNHdxnn8XAIMBW8MScn1VbYil07KC1czdfVv0VZpVtl0=
    file_glob: true
    file: release/*
    draft: true
    skip_cleanup: true
    on:
        repo: dss-extensions/dss_matlab
        tags: true
